

@font-face {
    font-family: "IBM Plex Serif Text";
    src: url("/fonts/IBMPlexSerif-Text.woff2") format("woff2"),
         url("/fonts/IBMPlexSerif-Text.woff") format("woff");
         font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "IBM Plex Serif Text";
    src: url("/fonts/IBMPlexSerif-TextItalic-Latin1.woff2") format("woff2"),
         url("/fonts/IBMPlexSerif-TextItalic-Latin1.woff") format("woff");
         font-weight: 400;
    font-style: italic;
  }
  @font-face {
    font-family: "IBM Plex Serif";
    src: url("/fonts/IBMPlexSerif-Bold-Latin1.woff2") format("woff2"),
         url("/fonts/IBMPlexSerif-Bold-Latin1.woff") format("woff");
         font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "IBM Plex Sans Text";
    src: url("/fonts/IBMPlexSans-Text.woff2") format("woff2"),
         url("/fonts/IBMPlexSans-Text.woff") format("woff");
         font-weight: 400;
    font-style: normal;
    font-feature-settings: "ss02";
  }
  @font-face {
    font-family: "IBM Plex Sans";
    src: url("/fonts/IBMPlexSans-Regular.woff2") format("woff2"),
         url("/fonts/IBMPlexSans-Regular.woff") format("woff");
         font-weight: 400;
    font-style: normal;
    font-feature-settings: "ss02";
  }
  @font-face {
    font-family: "IBM Plex Sans Text";
    src: url("/fonts/IBMPlexSans-TextItalic-Latin1.woff2") format("woff2"),
         url("/fonts/IBMPlexSans-TextItalic-Latin1.woff") format("woff");
         font-weight: 400;
    font-style: italic;
    font-feature-settings: "ss02";

  }
  @font-face {
    font-family: "IBM Plex Sans";
    src: url("/fonts/IBMPlexSans-Bold.woff2") format("woff2"),
         url("/fonts/IBMPlexSans-Bold.woff") format("woff");
         font-weight: 700;
    font-style: normal;
    font-feature-settings: "ss02";

  }
  @font-face {
    font-family: "IBM Plex Mono";
    src: url("/fonts/IBMPlexMono-Italic-Latin1.woff2") format("woff2"),
         url("/fonts/IBMPlexMono-Italic-Latin1.woff") format("woff");
         font-weight: 400;
    font-style: italic;
  }
  @font-face {
    font-family: "IBM Plex Mono";
    src: url("/fonts/IBMPlexMono-LightItalic-Latin1.woff2") format("woff2"),
         url("/fonts/IBMPlexMono-LightItalic-Latin1.woff") format("woff");
         font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: "IBM Plex Mono";
    src: url("/fonts/IBMPlexMono-ExtraLightItalic-Latin1.woff2") format("woff2"),
         url("/fonts/IBMPlexMono-ExtraLightItalic-Latin1.woff") format("woff");
         font-weight: 200;
    font-style: italic;
  }
  @font-face {
    font-family: "Faune";
    src: url("/fonts/Faune-Text_Bold.woff2") format("woff2"),
         url("/fonts/Faune-Text_Bold.woff") format("woff");
         font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "Faune";
    src: url("/fonts/Faune-Text_Regular.woff2") format("woff2"),
         url("/fonts/Faune-Text_Regular.woff") format("woff");
         font-weight: 400;
    font-style: normal;
  }

body {
/*     max-width: 1500px;
 */    margin: auto;
    font-family: "IBM Plex Serif Text", Georgia, serif;
    color: #121212;    
    font-size: 15px;
}

.top-menu-link {
    margin-left: 1em;
    
}
.top-menu {
    justify-content: space-between;
    display: flex;
    padding: 1.5em 2% 0.5em;
    font-size: 1.4em;
    font-family:   "IBM Plex Sans Text", system-ui, -apple-system, sans-serif;

}

.top-menu .name{
    padding-left: 15px;
    font-family:   "IBM Plex Sans", system-ui, -apple-system, sans-serif;
    font-weight: 700;
    }


.top-menu-right{
    padding-right: 15px;

}    
.header {
padding: 0;
}
.container-fluid{
    max-width: 1500px;
}
footer{
    padding: 0;
    background-color: #eee;
    width: 100vw;
    font-size: 1.4em;
    font-family:   "IBM Plex Sans Text", system-ui, -apple-system, sans-serif;

}
.bottom {
padding-bottom: 4.1em;
font-feature-settings: "ss02";
line-height: 1.3em;
}
.bottom img, .vid{
    padding-bottom: 0.714em;
}
.bottom-menu .left{
    padding-left: 15px;
    padding-bottom: 1em;
    float: left;

}    


a {
color: #00f;
}
a:hover, a:focus{
    color: #121212;
    text-decoration: underline;

}

h1 {
    font-size: 2em;
}

h2 {
margin-top: 0;
padding-bottom: 1.5em;
}
h3 {
    padding-top: 0.5em;
}
h5 {
    font-weight: 400;
}
.descriptor {
    font-family:   "IBM Plex Mono", monospace;
    text-transform: lowercase;
    font-size: 1.267em;
    font-weight: 300;
    font-style: italic;
    margin-top: 0.25em;
    margin-bottom: 0.5em;  
    color: #595959;
}
.project-page .descriptor {
    font-weight: 200;
    text-align: center;
    font-size: 2.14em;
    margin: 1em 0 0.55em;
}
.main-headline{
font-size: 4.8em;
padding-bottom: 0.3em;
line-height: 1.05em;
text-align: center;
max-width: 800px!important;
font-family: "IBM Plex Serif", Georgia, serif;
font-weight: 700;
letter-spacing: -0.02em;
}
.lead {
font-size: 2.14em;
line-height: 1.25em;
padding-bottom: 0.5em;
text-align: center;
max-width: 660px!important;
font-weight: 400;
}


.next-paragraph{
    padding-top:0.625em;
}
.project-thumb{
    text-align: center;
}
.project-title{
    font-size: 2em;
    line-height: 1.25em;
    margin-top: 0.1em;
    margin-bottom: 6px;
    font-family: "IBM Plex Serif", Georgia, serif;
    font-weight: 700;
    

}
.projects{
    padding-bottom: 4em;
}
.row {
    padding: 0px 2% 0px;
    
}
.top {
    padding-top: 1.5em;
}

.intro {
    font-size: 2em;
    line-height: 1.25em;
    padding: 0px;
    margin: 1em 0px 0.5em;
}


.project-text {
    padding-bottom: 1em;   
    margin: 0px auto; 
    font-size: 1.267em;
    line-height: 1.5;
    max-width: 500px;
    text-align: center;

}
.info {
    padding-bottom: 6rem!important;
    text-decoration: none;
    font-family: "IBM Plex Serif Text", Georgia, serif;
    font-size: 1em;
}
p {
    font-size: 1.333em;
}

.about{
    max-width: 605px;
}
.contact {
    padding-bottom: 1em;
}
.no-padding{
    padding-left: 0;
    padding-right: 0;
}
.project-page {
    padding-bottom: 4.5em;
}
.single-project, ul, ol, .about p {
    max-width: 605px;
    margin: auto;
}
.long-text, ul, ol, .about p, .contact p {
    font-size: 1.267em;
    padding-bottom: 0.7em;
    padding-top: 0.5em;
    line-height: 1.5;
}
ul, ol {
    padding-bottom: 0.1em;
}
li {
    padding-bottom: 0.6em;
}
ol > li::marker {
    font-family: "IBM Plex Serif", Georgia, serif;
    font-weight: 700;
}
.subhead {
    padding-top: 1em;
    font-family: "IBM Plex Serif", Georgia, serif;
    font-weight: 700;
    }

.contact p{
    padding-bottom: 0;
    margin: 0;

}
.about h1, .contact h1 {
    font-family: "IBM Plex Serif", Georgia, serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1.333em 0 0;
}
blockquote{
    max-width: 800px;
    margin: auto;
    font-size: 2.14em;
    text-align: center;
    padding-bottom: 0.8em;
    padding-top: 0.6em;
    padding-left: 0;
    padding-right: 0;
    border: none;
    font-family:   "IBM Plex Sans", system-ui, -apple-system, sans-serif;
    line-height: 1.3;
    font-weight: 400;
    font-feature-settings: "ss02";

}
.quote-source{  
    font-size: 0.55em;
    letter-spacing: 0.02em;
    line-height: 1.42857;
    padding-top: 0.5em;
    font-family:   "Faune", system-ui, -apple-system, sans-serif;
    font-weight: 400;
    font-variant-caps: all-small-caps;
}
.following-quote{
    border-top: none;
    padding-top: 0px;
    margin-top: -0.15em;
}
.main {
    margin-bottom: 1.75em;
}
img, .vid {
    padding-bottom: 1em;
    padding-top: 2em;
}




.caption{
    font-size: 1.1em;
    font-family:   "IBM Plex Sans Text", system-ui, -apple-system, sans-serif;
    color: #595959;
    max-width: 500px;
    padding-bottom: 2em;
    line-height: 1.4;
    font-feature-settings: "ss02";

    
}
.multiple-images{
    padding-left: 15px;
    padding-right: 15px;
}
.info-box {
    padding: 1.6em 1.2em 1em 0;
    float: left;
    max-width: 300px;

}
.project-info{
    padding: 0 0 0.5em;
    margin: 0;
}

.caption .title {
    font-family:   "Faune", system-ui, -apple-system, sans-serif;
    font-variant-caps: all-small-caps;
    letter-spacing: 0.02em;
    font-weight: 700;

}

footer .info-box{
    float: none;
    padding: 2.667em 0 0 0;
    max-width: 500px;
}
footer .caption{
    margin: 0;

}


.calc-button {
    background-color: rgb(223, 223, 223);
    border-radius: 6px;
    padding: 2px 6px;
    font-family:   "IBM Plex Sans Text", system-ui, -apple-system, sans-serif;
}

.error-message h1{
padding: 2.2em 0 0.5em;
}
.error-message p{
    text-align: center;
    font-size: 1.4em;
    font-family: "IBM Plex Sans Text", system-ui, -apple-system, sans-serif;
    line-height: 1.3;
    font-weight: 400;
    font-feature-settings: "ss02";
}


/*           SMALL SCREEN         */

@media (max-width: 671px) {
	html,
	body {
        font-size: 12px !important;
        line-height: 1.4;
    }
    .top-menu {
        padding-bottom: 1em;
        padding-top: 1em;
    }
    h1, h2 {
        font-size: 1.917em
        
    }
 p {
     font-size: 1.5em;
 }

 .descriptor {
    font-size: 1.417em;
    margin-top: 0.2em;
    margin-bottom: 0.4em;
    font-weight: 400;
    color: #595959;

}
.project-page .descriptor {
    font-size: 1.5em;
    margin: 0.55em 0 0.53em;
    font-weight: 400;

}
    .main-headline{
        font-size: 2.667em;
        padding-bottom: 0.3em;       
        }
    .lead {
        font-size: 1.833em;
        }
   
    .subhead {
            font-size: 1.833em;
        }
 
    .intro {
        margin: 0.5em 0px 0.9em;
        font-size: 1.917em;

    }
    
    .project-title{
        font-size: 1.917em !important;
        
    }

    .projects{
        padding-bottom: 1.5em;
    }
    .info {
        padding-top: 0!important;
        padding-bottom: 3.5rem!important;
/*         font-size: 1.65em !important;
 */    }
 .long-text, ul, ol, .about p, .contact p, .project-text {
     line-height: 1.42857;
     font-size: 1.5em;
     padding-top: 0.6em;
     padding-bottom: 0.6em;
 }

    ul, ol {
        padding-left: 25px;
    }
  
    .contact p{
        font-size: 1.5em;
        padding-bottom: 0em;

    }
    .project-text {
        padding-top: 0em;
        padding-bottom: 1.2em;
    }

    .caption {
        font-size: 1.333em;
        padding-bottom: 1.22em;
        max-width: 500px;
        line-height: 1.38;
    }
    blockquote{
        font-size: 1.917em;
    }
    .quote-source{
        font-size: 0.696em;
        line-height: 1.2;
        padding-top: 0.3em;
        
        
    }
    .main {
        margin-bottom: 0.5em;
    }
    .project-info{
        padding: 0 0 0.5em;
    }
   .image{
        padding: 0px;
        
    }
    img, .vid {
        padding-bottom: 0.667em;
        padding-top: 0.86em;
    }
    .info-box {
        padding: 0em 0em 0.2em 0;
        float: none;
        max-width: 500px;
    
    }
    .project-page {
        padding-bottom: 2.333em;
    }
   
    .bottom {
        padding-bottom: 2.5em;
        
        }
        .bottom img, .vid{
            padding-bottom: 0.476em;
        }
}
